{% extends 'base.html' %}

{% block title %}Przeglądaj bilans | TB twojbudzet.com{% endblock %}

{% block footer %}

<script src="/js/bilans.js"></script>

{% endblock %}

{% block body %}
<!--Incomes-->
<script type="text/javascript">
    var counterIncome = 0;
    const tabValueIncome = [];
    const tabNameIncome = [];
</script>

{% for item in userIncomes %}

<script type="text/javascript">
    var valueIncome = "{{ item.valueIncome }}";
    var newNumber = Number(valueIncome);
    var nameIncome = "{{ item.categoryName }}";
    var counterIncomeSameCategory = 0;

    if (counterIncome > 0) {
        for (var q = 0; q < counterIncome; q++) {
            if (nameIncome == tabNameIncome[q]) {
                tabValueIncome[q] = Number(tabValueIncome[q]) + Number(newNumber);
                counterIncomeSameCategory = 1;
            }
        }
        if (counterIncomeSameCategory == 0) {
            tabValueIncome[counterIncome] = valueIncome;
            tabNameIncome[counterIncome] = "{{ item.categoryName }}";
            counterIncome++;
        }
        counterIncomeSameCategory = 0;
    }
    else {
        tabValueIncome[counterIncome] = valueIncome;
        tabNameIncome[counterIncome] = "{{ item.categoryName }}";
        counterIncome++;
    }

</script>

{% endfor %}

<!--Expenses-->
<script type="text/javascript">
    var counterExpense = 0;
    const tabValueExpense = [];
    const tabNameExpense = [];
</script>

{% for item in userExpenses %}

<script type="text/javascript">

    var valueExpense = "{{ item.valueExpense }}";
    var newNumber = Number(valueExpense);
    var nameExpense = "{{ item.categoryName }}";
    var counterExpenseSameCategory = 0;

    if (counterExpense > 0) {
        for (var q = 0; q < counterExpense; q++) {
            if (nameExpense == tabNameExpense[q]) {
                tabValueExpense[q] = Number(tabValueExpense[q]) + Number(newNumber);
                counterExpenseSameCategory = 1;
            }
        }
        if (counterExpenseSameCategory == 0) {
            tabValueExpense[counterExpense] = valueExpense;
            tabNameExpense[counterExpense] = "{{ item.categoryName }}";
            counterExpense++;
        }
        counterExpenseSameCategory = 0;
    }
    else {
        tabValueExpense[counterExpense] = valueExpense;
        tabNameExpense[counterExpense] = "{{ item.categoryName }}";
        counterExpense++;
    }

</script>
{% endfor %}

<div class="row text-center bg-background my-4 p-sm-3 p-lg-0">

    <div class="col-lg-10 offset-lg-1 my-5 bg-white bg-shadow">
        <p class=" h2 col-8 font-weight-bold bg-color my-4 d-inline-block nav-name">
            Przeglądaj swój bilans
        </p>
        <div class="d-inline-block">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="list" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Bieżący miesiąc
                </button>
                <div class="dropdown-menu" aria-labelledby="list">
                    <a class="dropdown-item" href="/bilans/previousMonth">Poprzedni miesiąc</a>
                    <a class="dropdown-item" href="/bilans/currentYear">Bieżący rok</a>
                    <a class="dropdown-item" href="/bilans/nonstandard">Niestandardowy</a>
                </div>
            </div>
        </div>
    </div>

    <div id="chartContainer" class="mx-3 col-lg-5" style="height: 200px; width: 100%; margin-bottom: 10px;"></div>
    <div class="col-lg-6"></div>
    <div id="communicat-zero" class="communicat-limit-hide mx-3 my-2 col-lg-12">Wprowadź inną wartość niż 0.</div>
    <div id="communicat-limit" class="communicat-limit-hide mx-3 my-2 col-lg-12"></div>

    <!--INCOMES-->
    <div class="col-lg-6">
        <table class="table table-bordered">
            <thead class="bg-table">
                <tr>
                    <th style="width: 50%; text-align: center;" scope="col">PRZYCHODY</th>
                </tr>
            </thead>
        </table>

        <table class="table table-bordered bg-white">
            <tbody>
                <tr style="text-align: center;">
                    <th style="width: 25%;">Data dodania</th>
                    <th style="width: 20%;">Kategoria</th>
                    <th style="width: 5%;">Wartość</th>
                    <th style="width: 25%;">Edytuj / Usuń</th>
                </tr>

                {% set sumIncomesAll = 0 %}
                {% for item in userIncomes %}

                <tr style="background-color: lightgrey; text-align: center; font-size: 20px;" id="incomeInformation">
                    <td>{{ item.dateIncome }}</td>
                    <td incomeId="{{ item.categoryIncomeId }}">{{ item.categoryName }}</td>
                    <td class="values" buttonvalue="{{ item.valueIncome }}" name="income">{{ item.valueIncome }}</td>
                    {% set sumIncomesAll = sumIncomesAll + item.valueIncome %}
                    <td>
                        <button class="btn edit-btn income-button" buttonid="{{ item.idIncome }}"
                            buttonname="{{ item.categoryName}}" buttonvalue="{{ item.valueIncome }}"
                            buttondate="{{ item.dateIncome }}" buttoncategoryid="{{ item.categoryIncomeId }}"
                            data-toggle="modal" data-target="#edit-1" onclick="" style="padding: 0px;">
                            <span class="input-group-text category-color-green"
                                style="float: left; height: 40px; margin-top: 2px; margin-left: 5px;">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                </svg>
                            </span>
                        </button>
                        <button class="btn delete-btn income-button" buttonId="{{ item.idIncome }}" data-toggle="modal"
                            data-target="#delete-1" onclick="" style="padding: 0px;">
                            <span class="input-group-text category-color"
                                style="float: left; height: 40px; margin-top: 2px; margin-left: 5px;">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                                </svg>
                                </svg>
                            </span>
                        </button>
                    </td>
                    <div class="modal fade" id="delete-1" tabindex="-1" role="dialog" aria-labelledby="delete-1"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-bold nav-name" id="modal-new-password">Usuń
                                        przychód</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body col-12">
                                    <span>Kliknij Usuń aby potwierdzić chęć usunięcia wybranego przychodu</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary font-weight-bold btn-can-settings"
                                        data-dismiss="modal">Anuluj</button>
                                    <button type="button" class="btn category-color font-weight-bold delete-submit"
                                        style="width: 80px;" data-dismiss="modal">Usuń</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                {% endfor %}
                <tr class="bg-table">
                    <th>SUMA</th>
                    <td></td>
                    <th id="income-sum">{{ sumIncomesAll }}</th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- EXPENSES -->
    <div class="col-lg-6">
        <table class="table table-bordered">
            <thead class="bg-table">
                <tr>
                    <th style="width: 50%; text-align:center;" scope="col">WYDATKI</th>
                </tr>
            </thead>
        </table>

        <table class="table table-bordered bg-white">
            <tbody>
                <tr style="text-align: center;">
                    <th style="width: 25%;">Data dodania</th>
                    <th style="width: 20%;">Kategoria</th>
                    <th style="width: 5%;">Wartość</th>
                    <th style="width: 25%;">Edytuj / Usuń</th>
                </tr>

                {% set sumExpensesAll = 0 %}
                {% for item in userExpenses %}

                <tr style="background-color: lightgrey; text-align: center; font-size: 20px;" id="expenseInformation">
                    <td>{{ item.dateExpense }}</td>
                    <td expenseId="{{ item.categoryExpenseId }}">{{ item.categoryName }}</td>
                    <td class="values" buttonvalue="{{ item.valueExpense }}" name="expense">{{ item.valueExpense }}</td>
                    {% set sumExpensesAll = sumExpensesAll + item.valueExpense %}
                    <td>
                        <button class="btn edit-btn expense-button" buttonid="{{ item.idExpense }}"
                            buttonname="{{ item.categoryName}}" buttonvalue="{{ item.valueExpense }}"
                            buttondate="{{ item.dateExpense }}" buttoncategoryid="{{ item.categoryExpenseId }}"
                            data-toggle="modal" data-target="#edit-2" onclick="" style="padding: 0px;">
                            <span class="input-group-text category-color-green"
                                style="float: left; height: 40px; margin-top: 2px; margin-left: 5px;">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                </svg>
                            </span>
                        </button>
                        <button class="btn delete-btn expense-button" buttonId="{{ item.idExpense }}"
                            data-toggle="modal" data-target="#delete-2" onclick="" style="padding: 0px;">
                            <span class="input-group-text category-color"
                                style="float: left; height: 40px; margin-top: 2px; margin-left: 5px;">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                                </svg>
                                </svg>
                            </span>
                        </button>
                    </td>

                    <div class="modal fade" id="delete-2" tabindex="-1" role="dialog" aria-labelledby="delete-2"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-bold nav-name" id="modal-new-password">Usuń
                                        przychód</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body col-12">
                                    <span>Kliknij Usuń aby potwierdzić chęć usunięcia wybranego przychodu</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary font-weight-bold btn-can-settings"
                                        data-dismiss="modal">Anuluj</button>
                                    <button type="button" class="btn category-color font-weight-bold delete-submit"
                                        style="width: 80px;" data-dismiss="modal">Usuń</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                {% endfor %}
                <tr class="bg-table">
                    <th>SUMA</th>
                    <td></td>
                    <th id="expense-sum">{{ sumExpensesAll }}</th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% if sumExpensesAll == 0 and sumIncomesAll == 0 %}
    <p id="final-communicat" class="h4 col-12 mb-4">Nie posiadasz jeszcze żadnych danych</p>
    {% elseif sumExpensesAll <= sumIncomesAll %}
    <p id="final-communicat" class="h4 col-12 mb-4">Gratulacje! Nie przekroczyłeś swojego budżetu</p>
    {% else %}
    <p id="final-communicat" class="h4 col-12 mb-4">Uwaga! Przekroczyłeś swój budżet</p>
    {% endif %}

    <div id="chartContainerIncome" class="mx-3 col-lg-6"></div>
    <div id="chartContainerExpense" class="mx-3 col-lg-6"></div>

</div>

{% endblock %}