{% extends 'base.html' %}

{% block title %}Reset hasła| TB twojbudzet.com{% endblock %}

{% block body %}

    <h1>Zresetuj swoje hasło</h1>

    <div class="row text-center bg-background my-6 p-sm-3 p-lg-0">
        <div class="col-lg-8 offset-lg-2 bg-white my-4 shadow p-3">
            <h1 class="h3 font-weight-bold my-4 nav-name">Resetowanie hasła</h1>

            <form method="post" action="/password/request-reset">

                <div class="col-10 offset-md-1 input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text login-color"> ✉ </span>
                    </div>
                    <input type="email" name="email" class="form-control" placeholder="*Email" id="inputEmail"  autofocus value="{{ email }}" 
                        aria-label="email" aria-describedby="email">
                </div>
                    <button type="submit" class="btn-login mt-0 mb-4">Zresetuj hasło</button>
            </form>
        </div>

{% endblock %}
