{% extends 'base.html' %}

{% block title %}Reset hasła| TB twojbudzet.com{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formPassword').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block body %}

    <h1>Resetetowanie hasła</h1>

    {% if user.errors is not empty %}
        <p>Błędy:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row text-center bg-background my-6 p-sm-3 p-lg-0">
        <div class="col-lg-8 offset-lg-2 bg-white my-4 shadow p-3">
            <h1 class="h3 font-weight-bold my-4 nav-name">Resetowanie hasła</h1>

            <form method="post" id="formPassword" action="/password/reset-password">

                <input type="hidden" name="token" value="{{ token }}" />

                <div class="col-10 offset-md-1 input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text login-color"> ✉ </span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="Hasło" id="inputpassword" aria-label="password" aria-describedby="password">

                </div>
                    <button type="submit" class="btn-login mt-0 mb-4">Zresetuj hasło</button>
            </form>
        </div>

{% endblock %}
