{% extends 'base.html' %}

{% block title %}TB twojbudzet.com{% endblock %}

{% block body %}

    <h1>Witaj</h1>

    {% if current_user %}
         {{ current_user.name }}

         <div class="row text-center bg-background my-6 p-sm-3 p-lg-3">

            <div class="col-lg-10 offset-lg-1 my-4 bg-white shadow p-3">

            <h2 class="h3">
                <p> Wybierz co chcesz zrobić używając menu u góry strony. </p>
                <p> Kontroluj swoje przychody i wydatki używając opcji przeglądania bilansu i ciesz się życiem!</p>
                
            </h2>

                <img class="img-fluid mt-3 mb-3" alt="obraz" src="/img/obraz.png">
            </div>
        </div>

    {% else %}
    <div class="row text-center bg-background my-4 p-sm-3 p-lg-0">

        <div class="col-lg-10 offset-lg-1 my-4 bg-white shadow p-3">
            <div>
                <p class="nav-name">
                    Chcesz mieć kontrolę nad swoim budżetem domowym? <br />
                    Dobrze trafiłeś! Przedstawiam Ci aplikację, która ułatwi Ci to zadanie. <br />
                    Wybierz co chcesz zrobić i przejmij kontrolę już teraz:<br />
                </p>
                <p style="font-size: 24px;">
                    <a href="/signup/new"><button class="btn btn-register my-3">Zarejestruj się</button></a> lub <a href="/login"><button class="btn-login mt-0 mb-4">Zaloguj</button></a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
