{% extends 'base.html' %}

{% block title %}Przychody | TB twojbudzet.com{% endblock %}

{% block body %}

{% if income.errors is not empty %}
<p>Błędy w formularzu:</p>
<ul>
    {% for error in income.errors %}
        <li>{{ error }}</li>
    {% endfor %}
</ul>
{% else %}
{% endif %}

<form method="post" action="/incomes/saveIncome" id="formIncome">
    <div class="row text-center bg-background my-6 p-sm-3 p-lg-0">

        <div class="col-lg-10 offset-lg-1 my-5 bg-white bg-shadow">

            <h1 class="h2 font-weight-bold bg-color my-4 nav-name">
                Dodaj swój przychód
            </h1>

        </div>

        <div class="col-lg-5 offset-lg-1">

            <span class="font-weight-bold" for="valueIncome">Dodaj kwotę przychodu</span>

            <input type="text" name="valueIncome" class="form-control" id="valueIncome" placeholder="Kwota, różna od 0" aria-label="value"
                aria-describedby="value">

        </div>
       
        <div class="col-lg-5">

            <span class="font-weight-bold" for="dateIncome">Dodaj datę przychodu</span>

            <input type="date" name="dateIncome" class="form-control" id="dateIncome" aria-label="date" aria-describedby="date">

        </div>

        <div class="form-group col-lg-5 offset-lg-1">

            <label class="font-weight-bold" for="category">Wybierz kategorię dodawanego
                przychodu</label>
            
            <select name="categoryIncome" single style="height: 35%;" class="form-control" id="categoryIncome">
                {% for item in categoryIncome %}
                    <option style="margin-bottom: 2px;" value="{{ item.categoryName }}">{{ item.categoryName }}</option>
                {% endfor %}
            </select>

        </div>

        <div class="form-group col-lg-5">

            <label class="font-weight-bold" for="commentIncome"> Dodaj opcjonalnie swój komentarz </label>
            <textarea name="commentIncome" class="form-control" id="comment" placeholder="Opcjonalny komentarz" rows="3"></textarea>

        </div>

        <div class="col-lg-5 offset-lg-1 p-1">
            <button type="submit" class="btn btn-register my-3"> Dodaj przychód </button>
        </div>

        <div class="col-lg-5 p-1">
            <a href="/">
                <button type="button" class="btn btn-register my-3"> Anuluj </button>
            </a>
        </div>  
    </div>
</form>

{% endblock %}
