{% extends 'base.html' %}

{% block title %}Wydatki | TB twojbudzet.com{% endblock %}

{% block footer %}
<script src="/js/expenses.js"></script>
<script src="/js/validate.js"></script>
<script>

</script>

{% endblock %}

{% block body %}

<div id="alert-success" class="alert alert-success communicat-limit-hide">Wydatek dodano pomyślnie</div>
<div id="alert-warning" class="alert alert-warning communicat-limit-hide">Wydatek nie został dodany</div>

<div id="errors" class="communicat-limit-hide">
    <p>Błędy w formularzu:</p>
    <ul>
    </ul>
</div>

<form method="post" id="formExpense"> 

    <div class="row text-center bg-background my-6 p-sm-0 p-lg-0">

        <div class="col-lg-10 offset-lg-1 my-5 bg-white bg-shadow">

            <h1 class="h2 font-weight-bold bg-color my-4 nav-name">
                Dodaj swój wydatek
            </h1>

        </div>

        <div id="communicat-low" class="col-lg-10 offset-lg-1 my-1 opacity-communicat-success communicat-limit-hide">
        </div>

        <div id="communicat-high" class="col-lg-10 offset-lg-1 my-1 opacity-communicat-limit communicat-limit-hide" style="font-weight: 700;">
        </div>

        <div id="communicat-validation" class="col-lg-10 offset-lg-1 my-1 opacity-communicat-limit communicat-limit-hide" style="font-weight: 700;">

            <h3 class="my-4 h4" style="color: black!important;">
                Wprowadź wszystkie dane poprawnie!
            </h3>

        </div>

        <div class="col-lg-5 offset-lg-1 mt-2">
            <span id="tip-value" class="font-weight-bold" for="valueExpense">Dodaj kwotę wydatku</span>
            <input type="text" class="form-control input-value" name="valueExpense" id="valueExpense" placeholder="Kwota, różna od 0"
                aria-label="value" aria-describedby="value">
        </div>

        <div class="col-lg-5 mt-2">

            <span id="tip-date" class="font-weight-bold" for="dateExpense">Dodaj datę wydatku</span>

            <input type="date" name="dateExpense" class="form-control" id="dateExpense" aria-label="date"
                aria-describedby="date">

        </div>

        <div class="form-group col-lg-3 offset-lg-1">
            <label class="font-weight-bold"> Wybierz metodę płatności </label>
            <div class="form-control method-pay" style="height: auto;">
                {% set counterMethodPay = 0 %}
                {% for item in methodPay %}
                {% if counterMethodPay == 0 %}
                <input checked type="radio" id="{{ item.id }}" name="payMethodExpense" value="{{ item.nameMethodPay }}">
                <label for="{{ item.id }}">{{ item.nameMethodPay }}</label>
                <br />
                {% set counterMethodPay = counterMethodPay + 1 %}
                {% else %}
                <input type="radio" id="{{ item.id }}" name="payMethodExpense"
                    value="{{ item.nameMethodPay }}">
                <label for="{{ item.id }}">{{ item.nameMethodPay }}</label>
                <br />
                {% set counterMethodPay = counterMethodPay + 1 %}
                {% endif %}
                {% endfor %}
            </div>
            </label>
        </div>

        <div class="form-group col-lg-3">

            <label class="font-weight-bold" for="categoryExpense">Wybierz kategorie dodawanego
                wydatku</label>
                <div class="form-control" style="height: auto;">
                    {% set counterCategory = 0 %}
                    {% for item in categoryExpense %}
                    {% if counterCategory == 0 %}
                        <input class="categories" checked type="radio" id="{{ item.id }}" name="categoryExpense" value="{{ item.categoryName }}">
                        <label style="height: 10px;" for="{{ item.id }}">{{ item.categoryName }}</label>
                        <br/>
                    {% set counterCategory = counterCategory + 1 %}
                    {% else %}
                        <input class="categories" type="radio" id="{{ item.id }}" name="categoryExpense" value="{{ item.categoryName }}">
                        <label style="height: 10px;" for="{{ item.id }}">{{ item.categoryName }}</label>
                        <br/>
                    {% set counterCategory = counterCategory + 1 %}
                    {% endif %}
                    {% endfor %}
                </div>
            </select>

        </div>

        <div class="form-group col-lg-4">

            <label class="font-weight-bold" for="commentExpense"> Dodaj opcjonalnie swój komentarz </label>
            <textarea id="comment" name="commentExpense" class="form-control" placeholder="Opcjonalny komentarz" id="commentExpense" rows="3"></textarea>

        </div>

        <div class="col-lg-5 offset-lg-1 p-1">
            <button id="btn-submit" type="button" class="btn btn-register my-3 btn-submit"> Dodaj wydatek </button>
        </div>

        <div class="col-lg-5 p-1">
            <a href="/">
                <button type="button" class="btn btn-register my-3"> Anuluj </button>
                </as>
        </div>

    </div>
</form>

{% endblock %}