{% extends 'base.html' %}

{% block title %}Wydatki | TB twojbudzet.com{% endblock %}

{% block footer %}
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formExpense').validate({
                rules: {
                    valueExpense: {
                        required: true
                        },
                    dateExpense: {
                        required: true
                    },
                    categoryExpense: {
                        required: true
                    },
                    payMethodExpense: {
                        required: true
                    }
                },
                messages: {
                    valueExpense: {
                        remote: 'Wprowadź liczbę dodatnią, różną od zera'
                    },
                    dateExpense: {
                        remote: 'Wprowadź datę'
                    },
                    categoryExpense: {
                        remote: 'Wybierz kategorię'
                    },
                    payMethodExpense: {
                        remote: 'Wybierz metodę płatności'
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}


{% block body %}

{% if expense.errors is not empty %}
<p>Błędy w formularzu:</p>
<ul>
    {% for error in expense.errors %}
        <li>{{ error }}</li>
    {% endfor %}
</ul>
{% else %}
{% endif %}

<form method="post" action="/expenses/saveExpense" id="formExpense">
    <div class="row text-center bg-background my-6 p-sm-3 p-lg-0">

        <div class="col-lg-10 offset-lg-1 my-5 bg-white bg-shadow">

            <h1 class="h2 font-weight-bold bg-color my-4 nav-name">
                Dodaj swój wydatek
            </h1>

        </div>

        <div class="col-lg-5 offset-lg-1">

            <label class="font-weight-bold" for="valueExpense">Dodaj kwotę wydatku</label>

            <input type="text" class="form-control" name="valueExpense" id="valueExpense" placeholder="Kwota"
                aria-label="value" aria-describedby="value">
        </div>

        <div class="col-lg-5">

            <label class="font-weight-bold" for="dateExpense">Dodaj datę wydatku</label>

            <input type="date" name="dateExpense" class="form-control" id="dateExpense" aria-label="date"
                aria-describedby="date">

        </div>
        
        <div class="form-group col-lg-3 offset-lg-1">
            <label class="font-weight-bold"> Wybierz metodę płatności </label>
                <div class="form-control method-pay">
                    <input type="radio" id="cash" name="payMethodExpense" value="Gotówka" checked>
                    <label for="cash">Gotówka</label>
                    <br />
                    <input type="radio" id="debet" name="payMethodExpense" value="Karta debetowa">
                    <label for="debet">Karta debetowa</label>
                    <br />
                    <input type="radio" id="credit" name="payMethodExpense" value="Karta kredytowa">
                    <label for="credit">Karta kredytowa</label>  
                </div>    
            </label>
        </div>

        <div class="form-group col-lg-4">

            <label class="font-weight-bold" for="categoryExpense">Wybierz kategorie dodawanego
                wydatku</label>
            <select name="categoryExpense" multiple class="form-control" id="categoryExpense">
                <option value="Testowa Kategoria">Testowa Kategoria</option>
            </select>

        </div>

        <div class="form-group col-lg-3">

            <label class="font-weight-bold" for="commentExpense"> Dodaj opcjonalnie swój komentarz </label>
            <textarea name="commentExpense" class="form-control" id="commentExpense" rows="3"></textarea>

        </div>

        <div class="col-lg-5 offset-lg-1 p-1">
            <button type="submit" class="btn btn-register my-3"> Dodaj wydatek </button>
        </div>

        <div class="col-lg-5 p-1">
            <a href="/">
                <button type="button" class="btn btn-register my-3"> Anuluj </button>
            </as>
        </div>

    </div>
</form>

{% endblock %}
