{% extends 'base.html' %}

{% block title %}Edycja danych | TB twojbudzet.com{% endblock %}

{% block footer %}

<script>
    $(document).ready(function () {

        var userId = '{{ user.id }}';

        /**
         * Validate the form
         */
        $('#formProfile').validate({
            rules: {
                name: 'required',
                 email: {
                    required: true,
                    email: true,
                    remote: {
                        url: '/account/validate-email',
                        data: {
                            ignore_id: function () {
                                return userId;
                            }
                        }
                    }
                },
                password: {
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'Email jest już zajęty'
                }
            }
        });
    });
</script>

{% endblock %}

{% block body %}

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="row text-center bg-background my-6 p-sm-3 p-lg-0">

    <div class="col-lg-10 offset-lg-1 my-4 bg-white shadow p-3">

        <h1 class="h2 font-weight-bold bg-color my-4 nav-name">
            Edycja danych osobowych
        </h1>

    </div>

    <!--Name change-->
    <div class="col-lg-6 offset-lg-3 p-3">

        <button type="button" class="btn btn-settings" data-toggle="modal" data-target="#modal-name">
            Twoje dane
        </button>

    </div>

    <div class="modal fade" id="modal-name" tabindex="-1" role="dialog" aria-labelledby="name" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold nav-name" id="name">Twoje dane</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        <h3 class="nav-name">Login</h3>
                        <div class="col-6 offset-3 border my-2"></div>
                        <p class="form-control-name">{{ user.id }}</p>

                        <h3 class="nav-name">Login</h3>
                        <div class="col-6 offset-3 border my-2"></div>
                        <p class="form-control-name">{{ user.name }}</p>

                        <h3 class="nav-name">Email</h5>
                        <div class="col-6 offset-3 border my-2"></div>
                        <p class="form-control-name">{{ user.email }}</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary font-weight-bold btn-can-settings"
                            data-dismiss="modal">Powrót</button>
                    </div>
            </div>
        </div>
    </div>

    <!--Date change-->
    <div class="col-lg-6 offset-lg-3 p-3">

        <button type="button" class="btn btn-settings" data-toggle="modal" data-target="#modal-email">
            Edytuj dane
        </button>

    </div>

    <div class="modal fade" id="modal-email" tabindex="-1" role="dialog" aria-labelledby="modal-email"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold nav-name" id="modal-new-email">Edycja danych</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" id="formProfile" action="/profile/update">
                    <!--Login-->
                    <div class="modal-body">
                        <h3 class="nav-name">Podaj nowy login</h3>
                        <input id="inputName" name="name" placeholder="Login" value="{{ user.name }}" required class="form-control" aria-label="name" aria-describedby="name" />
                    </div>
                     <!--Email-->
                    <div class="modal-body">
                        <h3 class="nav-name">Podaj nowy login</h3>
                        <input id="inputEmail" name="email" placeholder="Email" value="{{ user.email }}" required type="email" class="form-control" aria-label="email" aria-describedby="email" />
                    </div>
                     <!--Password-->
                    <div class="modal-body">
                        <h3 class="nav-name">Podaj nowy email</h3>
                        <input type="password" id="inputPassword" name="password" placeholder="Hasło" class="form-control" aria-label="password" aria-describedby="password" />
                        <span id="helpBlock" class="help-block">Zostaw puste pole aby zachować dotychczasowe hasło</span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary font-weight-bold btn-can-settings"
                            data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-sub-settings font-weight-bold">Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Go back-->
    <div class="col-lg-6 offset-lg-3 p-3">
        <a href="/profile/show">
            <button type="button" class="btn btn-settings">
                Powrót
            </button>
        </a>
        
    </div>

</div>


{% endblock %}